/* Create font size containers */
.size100 { font-size: 100px; }
.size90 { font-size: 90px; }
.size80 { font-size: 80px; }
.size70 { font-size: 70px; }
.size60 { font-size: 60px; }
.size50 { font-size: 50px; }
.size45 { font-size: 45px; }
.size40 { font-size: 40px; }
.size35 { font-size: 35px; }
.size30 { font-size: 30px; }
.size25 { font-size: 25px; }
.size22 { font-size: 22px; }
.size20 { font-size: 20px; }
.size10 { font-size: 10px; }

/* Control font size in R code chunk */
.code150 .remark-code { font-size: 150% !important; }
.code140 .remark-code { font-size: 140% !important; }
.code135 .remark-code { font-size: 135% !important; }
.code130 .remark-code { font-size: 130% !important; }
.code125 .remark-code { font-size: 125% !important; }
.code120 .remark-code { font-size: 120% !important; }
.code115 .remark-code { font-size: 115% !important; }
.code110 .remark-code { font-size: 110% !important; }
.code105 .remark-code { font-size: 105% !important; }

/* Color Text */
.textgrey { color: grey; }
.textblack { color: black; }
.textred { color: red; }
.textblue { color: blue; }
.textwhite { color: white; }
.textorange { color: #FFBF00; }

/* Omit page numbers */
.remark-slide-number {
  display: none;
}

/* Add background color to a slide */
.slideblue { background-color: #aed6f1; }
.slidegreen { background-color: #a9dfbf; }
.slidered { background-color: #f5b7b1; }
.slidepurple { background-color: #e8daef; }
.slideorange { background-color: #fad7a0; }
.slidepink { background-color:  #fadbd8; }

/* Cool ideas from ekstroem */

/* Colored text boxes */
.content-box { 
    box-sizing: content-box;
    	background-color: #e2e2e2;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 15px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}
.content-box-blue {
    background-color: #F0F8FF;
}
.content-box-gray {
    background-color: #e2e2e2;
}
.content-box-grey {
	background-color: #F5F5F5;
}
.content-box-army {
	background-color: #737a36;
}
.content-box-green {
	background-color: #d9edc2;
}
.content-box-purple {
	background-color: #e2e2f9;
}
.content-box-red {
	background-color: #f9dbdb;
}
.content-box-yellow {
	background-color: #fef5c4;
}
.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}
